.albumImage {
  width: 80%;
  position: relative;
  z-index: 1;
}

.albumImage img {
  border-radius: 30px;
  width: 100%;
  aspect-ratio: 1;
}

.albumImage-shadow {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  width: 90%;
  position: absolute;

  z-index: -1;
  top: 10 px;
}
@media screen and (max-width: 480px) {

  .albumImage {
    width: 60%;

  }
  
  
}