.widgets-body {
  width: 95%;
  height: 45%;
  margin: 2% auto 3%;
  background: rgb(0, 0, 0);
  border-radius: 30px;
  border: 1px solid grey;
  justify-content: space-evenly;
  align-items: center;

  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}
